* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
  --background: #0C0C0C;
  --background-two: #2F2F2F;
  --color-text-tweet: #e1e1e6;
  --color-text-menu: #ffffff;
  --color-text-tweet-placeholder: #828282;
}

body {
  background: var(--background);
  color: var(--color-text-menu);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}